.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8e51ff; 
  }

  .login-box {
    background-color: #f7f0ff; 
    border-radius: 20px;
    padding: 30px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30%;
  }


  .login-box h1 {
    font-size: 50px;
    color: #7b42f5;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .login-box h2 {
    font-size: 30px;
    color: #7b42f5;
    margin-bottom: 30px;
  }

 
  .login-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
  }


  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #7b42f5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  .login-button:hover {
    background-color: #622bdb;
  }